Repository ansys/pyspeos, pull requests merged in 2025-04, with the labels that each got.

#521 feat: add screenshot in pyvista related methods
  .github/workflows/ci_cd.yml
  doc/changelog.d/521.added.md
  src/ansys/speos/core/lxp.py
  src/ansys/speos/core/project.py
  tests/conftest.py
  tests/core/test_lxp.py
  tests/image_results/.gitignore
Labels: maintenance, testing

#534 fix: issue with nightly pipeline
  .github/workflows/nightly.yml
  doc/changelog.d/534.fixed.md
Labels: bug, maintenance

#537 fix: Graphs not showing with Ansys visualizer
  doc/changelog.d/537.fixed.md
  doc/source/conf.py
  src/ansys/speos/core/lxp.py
  src/ansys/speos/core/project.py
Labels: bug, documentation

#538 docs: open-results adjustments
  doc/changelog.d/538.documentation.md
  examples/workflow/open-result.py
Labels: documentation

#543 docs: adjust source example
  doc/changelog.d/543.documentation.md
  examples/core/source.py
Labels: documentation

#546 fix: improve examples and tests due to more errors raised by the new SpeosRPC server
  doc/changelog.d/546.fixed.md
  examples/core/opt-prop.py
  examples/core/project.py
  examples/core/sensor.py
  examples/core/source.py
  src/ansys/speos/core/project.py
  src/ansys/speos/core/source.py
  tests/core/test_opt_prop.py
  tests/core/test_part.py
  tests/core/test_project.py
  tests/core/test_proto_message_utils.py
  tests/core/test_sensor.py
  tests/core/test_source.py
  tests/workflow/test_combine_speos.py
Labels: bug

#545 docs: adjust simulation example
  doc/changelog.d/545.documentation.md
  examples/core/opt-prop.py
  examples/core/simulation.py
  examples/core/source.py
Labels: documentation

#454 feat: Feat/add local launcher
  doc/changelog.d/454.added.md
  pyproject.toml
  src/ansys/speos/core/generic/constants.py
  src/ansys/speos/core/generic/general_methods.py
  src/ansys/speos/core/kernel/client.py
  src/ansys/speos/core/launcher.py
  src/ansys/speos/core/logger.py
  src/ansys/speos/core/speos.py
  tests/conftest.py
  tests/core/test_launcher.py
Labels: enhancement, maintenance, testing

#553 docs: remote instance
  doc/changelog.d/553.documentation.md
  doc/source/cheat_sheet/cheat_sheet_script.qmd
  doc/source/getting_started/index.rst
  doc/source/getting_started/launcher/index.rst
  doc/source/getting_started/local/index.rst
  doc/source/getting_started/remote/index.rst
  doc/source/index.rst
Labels: documentation

#528 feat: enhance the project preview: irrad, rad, camera sensor features
  doc/changelog.d/528.added.md
  src/ansys/speos/core/generic/general_methods.py
  src/ansys/speos/core/generic/visualization_methods.py
  src/ansys/speos/core/project.py
  src/ansys/speos/core/sensor.py
  tests/core/test_project.py
Labels: enhancement

#554 docs: adjust sensor.py example
  doc/changelog.d/554.documentation.md
  examples/core/sensor.py
Labels: documentation

#557 ci: pin actions version with full commit hash
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/nightly.yml
  doc/changelog.d/557.maintenance.md
Labels: maintenance

#559 chore: bump dev version
  doc/changelog.d/559.maintenance.md
  pyproject.toml
Labels: maintenance

#573 ci: bump ansys action version with quarto fix
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/changelog.d/573.maintenance.md
Labels: maintenance

#576 docs: Adjust prism example to new style
  doc/changelog.d/576.documentation.md
  examples/core/prism-example.py
Labels: documentation

#577 ci: update code owners
  .github/CODEOWNERS
  doc/changelog.d/577.maintenance.md
Labels: maintenance

#574 ci: update dependabot configuration
  .github/dependabot.yml
  doc/changelog.d/574.maintenance.md
Labels: maintenance

#551 feat: geopath property
  doc/changelog.d/551.added.md
  examples/core/opt-prop.py
  examples/core/simulation.py
  src/ansys/speos/core/body.py
  src/ansys/speos/core/face.py
  src/ansys/speos/core/opt_prop.py
  src/ansys/speos/core/part.py
  src/ansys/speos/core/source.py
  tests/core/test_opt_prop.py
  tests/core/test_part.py
  tests/core/test_source.py
Labels: enhancement

#570 fix: Integration direction display and adjust docstrings
  doc/changelog.d/570.fixed.md
  src/ansys/speos/core/sensor.py
Labels: bug

#572 docs: improve project example
  doc/changelog.d/572.documentation.md
  examples/core/project.py
Labels: documentation

#564 refactor: improve type hints
  doc/changelog.d/564.miscellaneous.md
  pyproject.toml
  src/ansys/speos/core/__init__.py
  src/ansys/speos/core/generic/constants.py
  src/ansys/speos/core/generic/general_methods.py
  src/ansys/speos/core/generic/visualization_methods.py
  src/ansys/speos/core/py.typed
Labels: maintenance
