Repository ansys/pyspeos, pull requests merged in 2025-03, with the labels that each got.

#486 chore: update organization name
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/nightly.yml
  README.rst
  doc/changelog.d/486.maintenance.md
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/getting_started/docker/linux_container.rst
  doc/source/getting_started/index.rst
  pyproject.toml
Labels: documentation, maintenance

#491 fix(ci): add mandatory token to release-github
  .github/workflows/ci_cd.yml
  doc/changelog.d/491.fixed.md
Labels: maintenance

#503 fix: core layer loading a camera sensor
  doc/changelog.d/503.fixed.md
  src/ansys/speos/core/project.py
Labels: bug

#506 refactor: remove ruff ignores F
  doc/changelog.d/506.miscellaneous.md
  examples/core/source.py
  examples/kernel/modify-scene.py
  pyproject.toml
  src/ansys/speos/core/workflow/combine_speos.py
  tests/core/test_intensity.py
  tests/core/test_lxp.py
  tests/core/test_opt_prop.py
  tests/core/test_project.py
  tests/core/test_proto_message_utils.py
  tests/core/test_sensor.py
  tests/core/test_simulation.py
  tests/core/test_source.py
  tests/core/test_spectrum.py
  tests/helper.py
  tests/kernel/test_client.py
  tests/kernel/test_intensity_template.py
  tests/kernel/test_job.py
  tests/kernel/test_scene.py
  tests/kernel/test_sensor_template.py
  tests/kernel/test_sop_template.py
  tests/kernel/test_source_template.py
  tests/kernel/test_spectrum.py
  tests/kernel/test_vop_template.py
  tests/stubs/test_anisotropic_bsdf.py
  tests/stubs/test_bsdf_creation.py
  tests/stubs/test_eulumdat_file.py
  tests/stubs/test_ies_file.py
  tests/stubs/test_lpf_file_reader.py
  tests/stubs/test_spectral_bsdf.py
  tests/stubs/test_xmp_intensity_file.py
  tests/stubs/test_xmp_spectral_intensity_file.py
  tests/workflow/test_combine_speos.py
Labels: maintenance, testing

#505 fix: doc: Adjust server launch command
  doc/changelog.d/505.fixed.md
  doc/source/getting_started/local/index.rst
Labels: documentation

#507 refactor: ruff n
  doc/changelog.d/507.miscellaneous.md
  examples/core/lpf-preview.py
  pyproject.toml
  src/ansys/speos/core/generic/general_methods.py
  src/ansys/speos/core/intensity.py
  src/ansys/speos/core/kernel/client.py
  src/ansys/speos/core/launcher.py
  src/ansys/speos/core/lxp.py
  src/ansys/speos/core/spectrum.py
  tests/core/test_intensity.py
  tests/core/test_simulation.py
  tests/core/test_spectrum.py
  tests/kernel/test_logging.py
  tests/stubs/test_anisotropic_bsdf.py
  tests/stubs/test_eulumdat_file.py
  tests/stubs/test_ies_file.py
  tests/stubs/test_lpf_file_reader.py
  tests/stubs/test_spectral_bsdf.py
Labels: maintenance, testing

#512 refactor: ruff TD002, TD003
  doc/changelog.d/512.miscellaneous.md
  doc/source/conf.py
  pyproject.toml
  src/ansys/speos/core/logger.py
  tests/core/test_project.py
Labels: documentation, enhancement, maintenance

#522 docs: fix path to download assets
  doc/changelog.d/522.documentation.md
  doc/source/conf.py
Labels: documentation

#523 ci: remove code-style job to use precommit.ci
  .github/workflows/ci_cd.yml
  doc/changelog.d/523.maintenance.md
Labels: maintenance

#526 chore: bump dev version into v0.4.dev0
  doc/changelog.d/526.maintenance.md
  pyproject.toml
Labels: maintenance
