Repository ansys/pyspeos, pull requests merged in 2025-07, with the labels that each got.

#644 fix: 640 camera with distortion v2 to v4
  doc/changelog.d/644.fixed.md
  src/ansys/speos/core/sensor.py
  tests/assets/CameraInputFiles/distortionV1.OPTDistortion
  tests/assets/CameraInputFiles/distortionV2.OPTDistortion
  tests/assets/CameraInputFiles/distortionV4.OPTDistortion
  tests/core/test_sensor.py
Labels: bug

#652 test: Add several tests for file transfer api
  doc/changelog.d/652.test.md
  tests/stubs/test_file_transfer.py
Labels: enhancement

#643 feat: add export result as vtp files
  doc/changelog.d/643.added.md
  src/ansys/speos/core/simulation.py
  src/ansys/speos/core/workflow/open_result.py
  tests/core/test_simulation.py
Labels: enhancement

#655 fix: sim export_unittest for windows
  doc/changelog.d/655.fixed.md
  tests/helper.py
Labels: bug, testing

#661 feat: add cad visual data property
  doc/changelog.d/661.added.md
  src/ansys/speos/core/body.py
  src/ansys/speos/core/project.py
Labels: enhancement

#663 fix: print of protobuf messages containing special characters
  doc/changelog.d/663.fixed.md
  src/ansys/speos/core/kernel/proto_message_utils.py
  src/ansys/speos/core/proto_message_utils.py
Labels: bug

#675 ci: pin vtk-osmesa version
  .github/workflows/ci_cd.yml
  doc/Makefile
  doc/changelog.d/675.maintenance.md
Labels: maintenance
