Repository ansys/pyspeos, pull requests merged in 2025-06, with the labels that each got.

#608 feat: add version warnings
  doc/changelog.d/608.added.md
  src/ansys/speos/core/generic/general_methods.py
  src/ansys/speos/core/simulation.py
  src/ansys/speos/core/source.py
Labels: enhancement

#610 docs: add badges into README.rst
  README.rst
  doc/changelog.d/610.documentation.md
Labels: documentation

#369 feat: Kernel - FaceStub - add create_batch and read_batch methods
  doc/changelog.d/369.added.md
  src/ansys/speos/core/kernel/face.py
  tests/kernel/test_geometry.py
Labels: enhancement, maintenance

#627 ci: update dependabot cfg and code owners
  .github/CODEOWNERS
  .github/dependabot.yml
  doc/changelog.d/627.maintenance.md
Labels: maintenance
