Repository ansys/pyspeos, pull requests merged in 2025-05, with the labels that each got.

#579 fix: unittest update based on bug 1229712
  doc/changelog.d/579.fixed.md
  tests/core/test_sensor.py
Labels: bug

#580 docs: adjust part.py example to match new style
  doc/changelog.d/580.documentation.md
  examples/core/part.py
Labels: documentation

#581 feat: bsdf
  .github/workflows/ci_cd.yml
  doc/changelog.d/581.added.md
  doc/source/_static/thumbnails/bsdf.png
  doc/source/conf.py
  doc/source/examples.rst
  examples/core/bsdf.py
  src/ansys/speos/core/__init__.py
  src/ansys/speos/core/bsdf.py
  src/ansys/speos/core/generic/constants.py
  src/ansys/speos/core/kernel/client.py
  src/ansys/speos/core/launcher.py
  src/ansys/speos/core/speos.py
  tests/conftest.py
  tests/core/test_bsdf.py
  tests/stubs/test_anisotropic_bsdf.py
Labels: documentation, enhancement, maintenance, testing

#592 feat: lightexpert
  doc/changelog.d/592.added.md
  examples/core/lpf-preview.py
  src/ansys/speos/core/proto_message_utils.py
  src/ansys/speos/core/sensor.py
  src/ansys/speos/core/simulation.py
  tests/core/test_proto_message_utils.py
  tests/core/test_simulation.py
Labels: enhancement, maintenance

#561 feat: enhance the project preview: luminaire, surface, rayfile
  doc/changelog.d/561.added.md
  src/ansys/speos/core/generic/general_methods.py
  src/ansys/speos/core/generic/visualization_methods.py
  src/ansys/speos/core/kernel/scene.py
  src/ansys/speos/core/lxp.py
  src/ansys/speos/core/project.py
  src/ansys/speos/core/sensor.py
  src/ansys/speos/core/source.py
  tests/core/test_project.py
Labels: enhancement
